// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/shared";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

.background-body-img {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path('lights.jpg'));
  background-repeat: no-repeat;
  background-position: left top 20.9%;
}
// .lights {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   img {
//     height: 157px;
//     position: relative;
//   }
// }

.right_lights {
  width: 280px;
}

h3 {
  color: rgb(39, 15, 15);
}
